In [40]:
import pandas as pd
import numpy as np

In [41]:
outlook = 'overcast,overcast,overcast,overcast,rainy,rainy,rainy,rainy,rainy,sunny,sunny,sunny,sunny,sunny'.split(
        ',')
temp = 'hot,cool,mild,hot,mild,cool,cool,mild,mild,hot,hot,mild,cool,mild'.split(
        ',')
humidity = 'high,normal,high,normal,high,normal,normal,normal,high,high,high,high,normal,normal'.split(
        ',')
windy = 'FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE'.split(
        ',')
play = 'yes,yes,yes,yes,yes,yes,no,yes,no,no,no,no,yes,yes'.split(',')
dataset = {'outlook': outlook, 'temp': temp,
               'humidity': humidity, 'windy': windy, 'play': play}
df = pd.DataFrame(dataset, columns=[
                      'outlook', 'temp', 'humidity', 'windy', 'play'])

In [42]:
df

     outlook  temp humidity  windy play
0   overcast   hot     high  FALSE  yes
1   overcast  cool   normal   TRUE  yes
2   overcast  mild     high   TRUE  yes
3   overcast   hot   normal  FALSE  yes
4      rainy  mild     high  FALSE  yes
5      rainy  cool   normal  FALSE  yes
6      rainy  cool   normal   TRUE   no
7      rainy  mild   normal  FALSE  yes
8      rainy  mild     high   TRUE   no
9      sunny   hot     high  FALSE   no
10     sunny   hot     high   TRUE   no
11     sunny  mild     high  FALSE   no
12     sunny  cool   normal  FALSE  yes
13     sunny  mild   normal   TRUE  yes

In [44]:
#df_counts=(df.groupby(['outlook','play']))
print(df['outlook'].value_counts())

rainy       5
sunny       5
overcast    4
Name: outlook, dtype: int64

In [36]:
for i in df_counts['outlook'].value_counts():
    print(i)

4
2
3
3
2

In [38]:
result = df_counts['outlook'].value_counts()
print(result[1])

2

In [48]:
df.outlook.astype("category").

0     overcast
1     overcast
2     overcast
3     overcast
4        rainy
5        rainy
6        rainy
7        rainy
8        rainy
9        sunny
10       sunny
11       sunny
12       sunny
13       sunny
Name: outlook, dtype: category
Categories (3, object): ['overcast', 'rainy', 'sunny']

In [49]:
df[df['outlook']=='sunny']

   outlook  temp humidity  windy play
9    sunny   hot     high  FALSE   no
10   sunny   hot     high   TRUE   no
11   sunny  mild     high  FALSE   no
12   sunny  cool   normal  FALSE  yes
13   sunny  mild   normal   TRUE  yes

In [52]:
print(df['outlook'].unique())

for i in df['outlook'].unique():
    print(df[df['outlook']==i])

['overcast' 'rainy' 'sunny']
    outlook  temp humidity  windy play
0  overcast   hot     high  FALSE  yes
1  overcast  cool   normal   TRUE  yes
2  overcast  mild     high   TRUE  yes
3  overcast   hot   normal  FALSE  yes
  outlook  temp humidity  windy play
4   rainy  mild     high  FALSE  yes
5   rainy  cool   normal  FALSE  yes
6   rainy  cool   normal   TRUE   no
7   rainy  mild   normal  FALSE  yes
8   rainy  mild     high   TRUE   no
   outlook  temp humidity  windy play
9    sunny   hot     high  FALSE   no
10   sunny   hot     high   TRUE   no
11   sunny  mild     high  FALSE   no
12   sunny  cool   normal  FALSE  yes
13   sunny  mild   normal   TRUE  yes

In [55]:
df.columns[:-1]

Index(['outlook', 'temp', 'humidity', 'windy'], dtype='object')